
.playlist{
    padding: 1rem;
    max-width: 800px;
    display: flex;
    font-size: 1.6rem;
    font-family: 'Lato';
    color: white;
    gap: 3rem;
    justify-content: center;
    flex-direction: column;
    margin-inline: auto;
}
.playlist ol{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-left: 0rem;
}
.playButton{
    outline: none;
    background: transparent;
    border: 1px solid transparent;
}
.playButton:active{
    outline: none;
    background: transparent;
    border: 1px solid grey;
  }
.track {
    display:flex;
    gap:1.6rem;
    padding: 2rem 1rem;
}
.track:hover{
    background-color: #231e39;
    color: aquamarine;
    cursor: pointer;
}

.playlist li .track-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.track-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
  }
  
  .track-details .name-container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .time{
    padding-left: 3rem;
  }
  .savePlaylist{
    display: flex;
    justify-content: space-between;
  }
  .savePlaylist input[type="text"]
{
    font-size:2.4rem;
    border: transparent;
    border-bottom: solid white 1px;
    outline: none;
    background: none;
    color:white
    
}
.savePlaylist input:focus{
    border-bottom: solid aquamarine 1px;
}
.savePlaylist input:hover{
    border-bottom: solid aquamarine 1px;
}
.savePlaylist input::placeholder {
    color: white; /* Change the color to any desired value */
    font-family: 'Lato',sans-serif;
  }
.savePlaylist button{
    border: transparent;
    outline: none;
    border-radius: 2rem;
    background: aquamarine;
    color:#28223f;
    font-weight: 700;
    padding: 1rem 1.8rem;
    cursor: pointer;
}
.savePlaylist a{
    border: transparent;
    outline: none;
    border-radius: 2rem;
    background: aquamarine;
    color:#28223f;
    font-weight: 700;
    padding: 1rem 1.8rem;
    cursor: pointer;
}
@media screen and (max-width: 400px) {
    /* Styles to apply when screen width is less than 400px */
    .savePlaylist{
        flex-wrap: wrap;
        gap: 2rem;
        
    }
    .savePlaylist input[type="text"]{
        width: 100%;
    }
    .savePlaylist button{
        width: 100%;
        padding: 1rem;
    }
  }
  