body{
    margin:0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-size: 62.5%;
    background: linear-gradient(270deg, hsla(207, 44%, 49%, 1) 0%, hsla(216, 44%, 45%, 1) 39%, hsla(238, 44%, 44%, 1) 100%);
}
p{
    font-size:1.6rem;
}
#root{
    height: 100%;
    width: 100%;
}
.primary-font{
    font-family: 'Nobile', 'Serif';
   
}
.secondary-font{
    font-family:'Rajdhani','Serif';
}
.promt-font{
   font-family: 'Lato', 'Serif';
   background-color: rgba(42,44,107,255);
}
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }