:root{
  --height:1rem;
    --width:1rem;
    --color:red;
}
    
  .roundButton{
    height:var(--width);
    width:var(--width);
    border-radius:50%;
    border:transparent;
    display:flex;
    justify-content:center;
    align-items:center
  }
  .backSlash {
      position:absolute;
      z-index:1;
      width: calc(var(--width)/10);
      height: calc(var(--width)/1.5);
      background-color: var(--color);
      transform:rotate(-45deg);
  }
  
  .forwardSlash{
      position:absolute;
      z-index:2;
      width: calc(var(--width)/10);
      height: calc(var(--width)/1.5);
      background-color: var(--color);
      transform:rotate(45deg);
    
  }
  