.searchResult{
	padding: 1.5rem;
	display: flex;
	max-height: 10rem;
	width: 350px;
    max-width: 100%;
	background-color: #1f1a36;
	box-shadow: 0 10px 20px -10px #000000bf;
	margin-bottom: 1rem;
	color: #b3b8cd;
}
.profileImage{
	display: flex;
	flex: 1;
	
}
.profileInformationContainer{
	display: flex;
	flex: 3;
}
.profileImage img{
	max-height: 100%;
    width: auto;
	border-radius: 50%;
}
.profileInformation{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.profileName{
	text-transform: capitalize;
	color: white;
	font-size: 1.6rem;
	font-weight: 700;
}
.topGenre{
font-size: 1.4rem;
text-transform: capitalize;
line-height: 1.5;
}
.profileActionButton{
	display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
}
.addButton{
	color: white;
	border: transparent;
    background-color: inherit;
	font-size: 3rem;
	cursor: pointer;
	padding: 1rem;
}