.groupMember {
	border: 1px solid #2D2747;
	border-radius: 2px;
	display: inline-block;
	font-size: 1.6rem;
	margin: 0 7px 7px 0;
	padding: .7rem;
	color: #b3b8cd;
	text-transform: capitalize;
	cursor: pointer;
	font-family: 'Lato', sans-serif;
}
.groupMember:hover{
		border: 1px solid #353536;
	}
.header{
	margin-bottom: 1rem;
}