
  .btn1{
    z-index: 2;
    color:white;
    background-color: #20bead;
    
  }
  .btn2{
    z-index: 1; 
    color:black;
    background-color: #ddf0f0;
  }
  .btn-container{
    display: flex;
    justify-content: center;
    width:40%;
    border-radius:1rem;
    padding: 0;
    font-size: 1rem;
    background-color: #ddf0f0;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  .btn-container button{
    width:50%;
    position:relative;
    padding:1%;
    border: none;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    padding: .25em;
    border-radius: 1rem;
  }