.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}
.brandTitle{
    font-size: 3rem;
    color: white;
    font-family: 'Rock Salt', cursive;
    margin: 1.5rem;
}

.navbarLinks ul{
    margin: 0;
    padding: 0;
    display: flex;  
}
.navbarLinks li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbarLinks li a{
    text-decoration: none; 
    font-size: 3rem;
    color: white; 
    padding: 1rem;
    display: block;
    font-weight: 700;
}
.navbarLinks li a:hover{
    color: #20bead;
}
.navbarLinks li button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    background: #20bead;
    padding: 1rem;
    font-size: 1.5rem;
    height: 50%;
    color: white;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

.openSidebarMenu[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top:2.5rem;
    right: 1rem;
    height: 22px;
    width: 22px;
    display: none;
}
@media (max-width:600px){
    .sidebarIconToggle{
        display: block;
    }
    .navbarLinks{
        position: absolute;
        top:4rem;
        z-index: 1;
        text-align: center;
        right:-250px;
        transition: transform 350ms ease-in-out;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbarLinks ul{
        flex-direction: column;
    }





}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
input[type="checkbox"]:checked ~ .navbarLinks {
    background: linear-gradient(270deg, hsla(207, 44%, 49%, 1) 0%, hsla(216, 44%, 45%, 1) 39%, hsla(238, 44%, 44%, 1) 100%);
    position: absolute;
    top:4rem;
    z-index: 1000;
    width:101%;
    text-align: center;
    transform: translateX(-250px);
    border-left: solid whitesmoke 1px;
}