/* #playlist-container{
display: flex;
flex-direction: column;
} */
.playlist-item{
    display: flex;
    max-height: 5rem;
    gap:1em;
    border-bottom: grey;
    border-style: solid;
}
.playlist-image{
    height:5rem;
    width:5rem;
}
p.primary-font {
    margin-bottom: 0;
    font-size: 1rem;
}
p.secondary-font{
    margin-top: 0rem;
    margin-bottom: .5rem;
    font-size: .8rem;
}
.playlist-item-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#playlist-card{
    border-color: black;
    margin: 1rem;
}
#playlist-header{
    text-align: center;
    border: black;
    border-style: solid;
}