.searchResult{
	padding: .5rem;
	display: flex;
	max-height: 10rem;
	width:min(100%,550px);
	background-color: #1f1a36;
	box-shadow: 0 10px 20px -10px #000000bf;
	margin-bottom: 1rem;
	color: #b3b8cd;
}
.profileImage{
	display: flex;
	flex: 1;
	justify-content: center;
	
}
.profileInformationContainer{
	display: flex;
	flex: 3;
}
.profileImage img{
	max-height: 100%;
    width: auto;
	border-radius: 50%;
}
.profileInformation{
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex:1;
}
.profileName{
	text-transform: capitalize;
	color: white;
	font-size: 2.8rem;
	font-weight: 700;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.topGenre{
font-size: 1.4rem;
text-transform: capitalize;
line-height: 1.5;
}
.profileActionButton{
	display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}
.addButton{
	color: white;
	border: transparent;
    background-color: inherit;
	font-size: 3rem;
	cursor: pointer;
	padding: 1rem;
}