.searchCard{
    background-color: white;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 5% 5% 5% 5%;
    margin-top: 5rem;
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.divider{
    width: 75%;
    border-bottom: 1px solid grey;
    margin: 5px
}
.searchHeader h2{
    text-align: center;
}

.searchBody{
    margin-bottom: 1rem;
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchBody p{
    font-size: .5rem;
    text-align: center;
    
}
.searchBody form{
    display: flex;
    margin:1rem auto;
    position: relative;
}
.searchBody form input{
    display: table;
    margin:1rem auto;
    
}
.searchBody form button{
    border: transparent;
    background-color: inherit;
    
}
.searchForm input{
    border: transparent;
    border-bottom: black solid 1px;
}
.errorMessage{
    color: red;
}