#sign-up-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    row-gap: 1em;
}
#sign-up-form-body{
    display: flex;
    flex-direction: column;
    flex: 1;
    
}
.sign-up-in-button{
    width:50%;
    border-radius:1rem;
    height:2rem;
    background-color: #20bead;
    color:white;
    border: none;
    padding: 1%;
}
#sign-up-button:hover{
    background-color: #6adfd3; 
}
#sign-up-button:focus{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#sign-up-button-wrapper{
display: flex;
justify-content: center;
}
.input-wrapper{
    display: flex;
    flex-direction: column;
    row-gap:1em;
}
.input-wrapper input{
    flex-grow: 1;
    flex-basis: 50%;
}
#name-wrapper{
    display: flex;
    flex: 1;
    column-gap: 1em;
}
#name-wrapper .input-wrapper{
    flex: 1 1 75%;
    row-gap: 1em;
}
#name-wrapper .input-wrapper input{
   flex:1;
}